@font-face {
  font-family: 'Open Sans';
  src: url('resources/fonts/opensans-regular.eot');
  src: url('resources/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
  url('resources/fonts/opensans-regular.woff2') format('woff2'),
  url('resources/fonts/opensans-regular.woff') format('woff'),
  url('resources/fonts/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('resources/fonts/opensans-bold.eot');
  src: url('resources/fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
  url('resources/fonts/opensans-bold.woff2') format('woff2'),
  url('resources/fonts/opensans-bold.woff') format('woff'),
  url('resources/fonts/opensans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

$defaultFont: "Open Sans", Arial, sans-serif;


.dijitReset {
  &:focus {
    outline: none;
  }
}

.gcApi_CommonButton {
  
  .dijitButtonNode {
    border: 1px solid #ffffff;
    background: #ffffff;
    @include for-all-browsers("box-shadow", "0px 2px 2px 0px #{rgba(50, 50, 50, 0.4)}");
  }
  
}


