//
// @author Alexander Samilyak (aleksam241@gmail.com)
// @created 2013.03.25
// @copyright Art. Lebedev Studio (http://www.artlebedev.ru/)
//  
// This source code follows Formatting section of Google C++ Style Guide
// http://google-styleguide.googlecode.com/svn/trunk/cppguide.xml#Formatting
//

/**
  @require sass-extension.rb
*/

/**
  @const
  @type {string}
*/
$RESOURCE_ROOT: '../../../resources';

/**
  @const
  @type {string}
*/
$MEDIA_ROOT: $RESOURCE_ROOT + '/images';


/**
  Returns absolute url to media resources (images, fonts, etc).
  $MEDIA_ROOT constant is used as path prefix.
  media-url(global/decor.png) => url("/f/media/global/decor.png")

  @param {string} path
  @param {boolean=} justPath
  @return {string|url}
*/
@function media-url($path, $justPath: false) {
  $fullPath: $MEDIA_ROOT + '/' + $path;

  @if ($justPath){
    @return $fullPath;

  } @else {
    @return url($fullPath);
  }
}


/**
  @param {string} value
  @param {boolean=} important
  @return {string}
*/
@function maybe-important($value, $important: false) {
  @if ($important) {
    @return $value + ' !important';
  } @else {
    @return $value;
  }
}

@mixin link-color($color, $important: false) {
  color: unquote(maybe-important($color, $important));
  border-color: unquote(maybe-important($color, $important));
  border-color: unquote(maybe-important(rgba($color, 0.3), $important));
}

@mixin link-border($color, $important) {
  border-color: maybe-important($color, $important);
  border-color: maybe-important(rgba($color, 0.3), $important);
}

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}


/**
* Cross browser inline-block
*/
@mixin dib($important : false) {
  @if $important {
    display: inline-block !important;
  } @else {
    display: inline-block;
  }

  .ie7 & {
    @if $important {
      display: inline !important;
    } @else {
      display: inline;
    }
    zoom: 1;
  }
}


/**
*
*/
@mixin clearfix {
  *zoom: 1;
  clear: both;
  @include dib();
  width: 100%;
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin pseudo-link($normal, $hover: $normal, $visited: $normal) {
  color: $normal;
  border-bottom: 1px dashed rgba($normal, .3);

  &:visited {
    color: $visited;
    border-bottom-color: rgba($visited, .3);
  }
  &:hover {
    color: $hover;
    border-bottom-color: rgba($hover, .3);
  }
}

/**
* Text indent
*/
@mixin ti {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


@mixin cols($width : 50%, $left : 0) {
  float: left;
  margin-right: -100%;
  position: relative;
  left : $left;
  width: $width;
}

/**
  @param {string} prop
  @param {string} value
  @param {boolean=} important
*/
@mixin for-all-browsers($prop, $value, $important: false) {
  -webkit-#{$prop}: unquote(maybe-important($value, $important));
  -moz-#{$prop}: unquote(maybe-important($value, $important));
  -o-#{$prop}: unquote(maybe-important($value, $important));
  -ms-#{$prop}: unquote(maybe-important($value, $important));
  #{$prop}: unquote(maybe-important($value, $important));
}


/**
  @param {string} value
  @param {boolean=} important
*/
@mixin transition($value, $important: false) {
  @include for-all-browsers(
      transition,
      maybe-important($value, $important));
}


/**
  @param {string} value
  @param {boolean=} important
*/
@mixin opacity($value, $important: false) {
  opacity: maybe-important($value, $important);

  .ie7-8 &{
    filter: maybe-important('alpha(opacity = #{$value * 100})', $important);
  }
}


/**
  @param {color} hexOrName
  @param {boolean=} important
*/
@mixin link-color($hexOrName, $important: false) {
  color: maybe-important($hexOrName, $important);
  border-color: maybe-important(rgba($hexOrName, 0.3), $important);
}


/**
  @param {list} stops  Each list item must be a gradient stop - list containing
      color and optional offset. For example:
      (#ff0000 (white, 20px) (rgba(blue, 0.5), 40%) rgb(128,128,128))
      If offset is omitted it's calculated based on stop index.
      Pixel and percent offsets are supported only.
  @param {boolean=} withoutIeFilter
  @param {boolean=} printBgColor  Whether to generate
      background-color: <mix of first and last stop colors>.
  @param {string=} orientation  Possible values: 'vertical' or 'horizontal'.
  @param {boolean=} hackSvgHeight  Whether to put height="101%" attribute
      into <svg> element for IE9 svg gradient.
  @param {string=} sizeForIe9Svg  SVG doesn't support pixel offsets in gradient
      stops. So this argument is used to convert pixel offset in $stops
      argument to percent offset. For example, if stop offset is 20px and
      $sizeForIe9Svg: 200px, then svg stop offset would be 10% (20px / 200px).
      This argument can be a pixel value only.
*/
@mixin gradient-bg(
    $stops,
    $withoutIeFilter: false,
    $printBgColor: false,
    $orientation: vertical,
    $hackSvgHeight: false,
    $blockSizeForIe9Svg: 100px) {

  @if (length($stops) < 2) {
    @warn error(
          '$stops list must contain at least 2 elements, but passed: ' +
          length($stops));
  }

  @if (unit($blockSizeForIe9Svg) != 'px') {
    @warn error(
          '$sizeForIe9Svg must be a pixel value. Found: ' +
          $blockSizeForIe9Svg);
  }


  $bgColor: null;
  @if ($printBgColor) {
    $firstColor: nth(nth($stops, 1), 1);
    $lastColor: nth(nth($stops, length($stops)), 1);
    $bgColor: mix(rgba($firstColor, 1), rgba($lastColor, 1));
  }

  $base64Svg: str2base64(build-svg-gradient(
      $stops, $orientation, $hackSvgHeight, $blockSizeForIe9Svg));

  background: $bgColor url('data:image/svg+xml;base64,#{$base64Svg}');
  background-image: build-css-gradient($stops, $orientation, '-ms-');
  background-image: build-css-gradient($stops, $orientation, '-moz-');
  background-image: build-css-gradient($stops, $orientation, '-webkit-');
  background-image: build-css-gradient($stops, $orientation, '-o-');

  @if not $withoutIeFilter{
    .ie7-8 &{
      filter: build-ms-filter-gradient($stops, $orientation);
    }
  }
}


/**
  Returns url in data:uri form containing inlined img
  located on your hard drive by $path.
  inline-img(global/decor.png) => url("data:image/png;base64,PD9...bWw=")

  @param {path} string
  @return {url}
*/
@function inline-img($path) {
  $fullpath: media-url($path, true);
  $fileExtension: nth(split-path-into-name-and-ext($fullpath), 2);
  $fileAsBase64: file2base64($fullpath);

  @return url('data:image/#{$fileExtension};base64,#{$fileAsBase64}');
}


/**
  Prints 2 background-images with regular and retina path.
  bg-with-retina(global/decor.png, 100, 200) =>
    .selector{
      background-image: url("/f/media/global/decor.png");
    }
    .retina .selector{
      background-image: url("/f/media/global/decor_2x.png");
      background-size: 100px 200px;
    }

  @param {path} string
  @param {number} origWidth
  @param {number} origHeight
*/
@mixin bg-with-retina($path, $width_1x, $height_1x) {
  background-image: media-url($path);

  .retina &{
    $splittedPath: split-path-into-name-and-ext($path);
    $retinaPath: nth($splittedPath, 1) + '_2x.' + nth($splittedPath, 2);

    background-image: media-url($retinaPath);
    background-size: #{$width_1x}px #{$height_1x}px;
  }
}


/**
  Splits color value into main part (without opacity) and opacity part.
  @param {color} color
  @return {list.<2>}
*/
@function split-color($color) {
  $opaqueColor: rgba($color, 1);
  $opacity: opacity($color);

  @return ($opaqueColor, $opacity);
}


/**
  @param {path} string
  @return {list} global/decor.png => global/decor, png
*/
@function split-path-into-name-and-ext($path) {
  $splitted: split($path, '.');

  $name: '';
  @for $i from 1 through (length($splitted) - 1) {
    @if ($i != 1) {
      $name: $name + '.';
    }
    $name: $name + nth($splitted, $i);
  }

  $ext: nth($splitted, length($splitted));

  @return $name, $ext;
}


/**
  @param {list} stops
  @param {string=} orientation
  @param {string=} prefix
  @return {string}
*/
@function build-css-gradient($stops, $orientation: vertical, $prefix: '') {
  $gradient: ();

  $gradient: append(
      $gradient, if($orientation == horizontal, left, top));

  @each $stop in $stops {
    $color: nth($stop, 1);

    $offset: '';
    @if (length($stop) > 1) {
      $offset: nth($stop, 2);
    }

    $gradient: append(
        $gradient, ($color unquote($offset)), comma);
  }

  @return unquote($prefix + 'linear-gradient(#{$gradient})');
}


/**
  @param {list} stops
  @param {string=} orientation
  @param {boolean=} hackHeight
  @param {string=} blockSize
  @return {string}
*/
@function build-svg-gradient(
  $stops, $orientation: vertical, $hackHeight: false, $blockSize: 100px) {

  $processedStops: ();
  @for $i from 1 through length($stops) {
    $stop: nth($stops, $i);
    $color: null;
    $offset: null;

    @if (type_of($stop) == 'list') {
      $color: nth($stop, 1);
      $rawOffset: nth($stop, 2);

      @if (unit($rawOffset) == '%') {
        $offset: $rawOffset;

      } @else if (unit($rawOffset) == 'px') {
        $offset: round(percentage($rawOffset / $blockSize));

      } @else {
        @warn error(
              'Offset must be a pixel or percent value. Found: ' + $rawOffset);
      }

    } @else {
      $color: $stop;
      $offset: round(percentage(($i - 1) / (length($stops) - 1)));
    }

    $processedStops: append(
        $processedStops, ($color, $offset));
  }


  $svgOrientaion: if(
        $orientation == 'horizontal',
      'x1="0" y1="0" x2="1" y2="0"',
      'x1="0" y1="0" x2="0" y2="1"');

  $svgStops: '';
  @each $stop in $processedStops {
    $colorAndOpacity: split-color(nth($stop, 1));
    $color: nth($colorAndOpacity, 1);
    $opacity: nth($colorAndOpacity, 2);
    $offset: nth($stop, 2);

    $colorAttr: 'stop-color="#{$color}"';
    $opacityAttr: if($opacity == 1, '', 'stop-opacity="#{$opacity}"');
    $offsetAttr: 'offset="#{$offset}"';

    $svgStop: '<stop #{$colorAttr} #{$offsetAttr} #{$opacityAttr} />';

    $svgStops: $svgStops + $svgStop;
  }

  $svgHeight: if($hackHeight, 'height="101%"', '');

  $svgGradient: (
      '<?xml version="1.0"?>' +
      '<svg xmlns="http://www.w3.org/2000/svg" #{$svgHeight}>' +
        '<defs>' +
          '<linearGradient id="g" #{$svgOrientaion}>' +
            $svgStops +
          '</linearGradient>' +
        '</defs>' +
        '<rect width="100%" height="100%" style="fill:url(#g)"/>' +
      '</svg>');

  @return $svgGradient;
}


/**
  @param {list} stops
  @param {string=} orientation
  @return {string}
*/
@function build-ms-filter-gradient($stops, $orientation: vertical) {
  $firstColor: nth(nth($stops, 1), 1);
  $lastColor: nth(nth($stops, length($stops)), 1);
  $gradientType: if($orientation == 'horizontal', 1, 0);

  @return unquote(
        'progid:DXImageTransform.Microsoft.Gradient(' +
            'startColorstr=#{ie_hex_str($firstColor)}, ' +
            'endColorstr=#{ie_hex_str($lastColor)}, ' +
            'gradientType=#{$gradientType})');
}
