  $icon-dropmenu-down-hover-x: 37px;
  $icon-dropmenu-down-hover-y: 26px;
  $icon-dropmenu-down-hover-offset-x: -37px;
  $icon-dropmenu-down-hover-offset-y: -26px;
  $icon-dropmenu-down-hover-width: 9px;
  $icon-dropmenu-down-hover-height: 6px;
  $icon-dropmenu-down-hover-total-width: 74px;
  $icon-dropmenu-down-hover-total-height: 52px;
  $icon-dropmenu-down-hover-image: 'resources/images/sprite.png';
  $icon-dropmenu-down-hover: 37px 26px -37px -26px 9px 6px 74px 52px 'resources/images/sprite.png';
  $icon-dropmenu-down-x: 46px;
  $icon-dropmenu-down-y: 26px;
  $icon-dropmenu-down-offset-x: -46px;
  $icon-dropmenu-down-offset-y: -26px;
  $icon-dropmenu-down-width: 9px;
  $icon-dropmenu-down-height: 6px;
  $icon-dropmenu-down-total-width: 74px;
  $icon-dropmenu-down-total-height: 52px;
  $icon-dropmenu-down-image: 'resources/images/sprite.png';
  $icon-dropmenu-down: 46px 26px -46px -26px 9px 6px 74px 52px 'resources/images/sprite.png';
  $icon-dropmenu-up-hover-x: 55px;
  $icon-dropmenu-up-hover-y: 26px;
  $icon-dropmenu-up-hover-offset-x: -55px;
  $icon-dropmenu-up-hover-offset-y: -26px;
  $icon-dropmenu-up-hover-width: 9px;
  $icon-dropmenu-up-hover-height: 6px;
  $icon-dropmenu-up-hover-total-width: 74px;
  $icon-dropmenu-up-hover-total-height: 52px;
  $icon-dropmenu-up-hover-image: 'resources/images/sprite.png';
  $icon-dropmenu-up-hover: 55px 26px -55px -26px 9px 6px 74px 52px 'resources/images/sprite.png';
  $icon-dropmenu-up-x: 64px;
  $icon-dropmenu-up-y: 26px;
  $icon-dropmenu-up-offset-x: -64px;
  $icon-dropmenu-up-offset-y: -26px;
  $icon-dropmenu-up-width: 9px;
  $icon-dropmenu-up-height: 6px;
  $icon-dropmenu-up-total-width: 74px;
  $icon-dropmenu-up-total-height: 52px;
  $icon-dropmenu-up-image: 'resources/images/sprite.png';
  $icon-dropmenu-up: 64px 26px -64px -26px 9px 6px 74px 52px 'resources/images/sprite.png';
  $icon-jams-active-x: 0px;
  $icon-jams-active-y: 0px;
  $icon-jams-active-offset-x: 0px;
  $icon-jams-active-offset-y: 0px;
  $icon-jams-active-width: 37px;
  $icon-jams-active-height: 26px;
  $icon-jams-active-total-width: 74px;
  $icon-jams-active-total-height: 52px;
  $icon-jams-active-image: 'resources/images/sprite.png';
  $icon-jams-active: 0px 0px 0px 0px 37px 26px 74px 52px 'resources/images/sprite.png';
  $icon-jams-hover-x: 37px;
  $icon-jams-hover-y: 0px;
  $icon-jams-hover-offset-x: -37px;
  $icon-jams-hover-offset-y: 0px;
  $icon-jams-hover-width: 37px;
  $icon-jams-hover-height: 26px;
  $icon-jams-hover-total-width: 74px;
  $icon-jams-hover-total-height: 52px;
  $icon-jams-hover-image: 'resources/images/sprite.png';
  $icon-jams-hover: 37px 0px -37px 0px 37px 26px 74px 52px 'resources/images/sprite.png';
  $icon-jams-normal-x: 0px;
  $icon-jams-normal-y: 26px;
  $icon-jams-normal-offset-x: 0px;
  $icon-jams-normal-offset-y: -26px;
  $icon-jams-normal-width: 37px;
  $icon-jams-normal-height: 26px;
  $icon-jams-normal-total-width: 74px;
  $icon-jams-normal-total-height: 52px;
  $icon-jams-normal-image: 'resources/images/sprite.png';
  $icon-jams-normal: 0px 26px 0px -26px 37px 26px 74px 52px 'resources/images/sprite.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5) !important;
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6) !important;
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
