.gcApi_ZoomControls {
  position: absolute;
  top: 25px;
  left: 220px;
  z-index: 50;
  font-weight: bold;
  width: 78px;

  .gcApi_ZoomIn {
    width: 37px;
    height: 25px;
    float: left;
    background: white;
    cursor: pointer;
    border: 1px solid #ffffff;
    @include for-all-browsers("border-radius", "100px 0 0 100px");
    @include for-all-browsers("box-shadow", "0px 2px 2px 0px #{rgba(50, 50, 50, 0.4)}");
    
    &:hover::after {
      color: #E1002D;
    }

    &::after,
    &:hover::after,
    &:focus::after {
      display: block;
      position: absolute;
      top: 3px;
      left: 15px;
      content: '\002B';
    }
  }

  .gcApi_ZoomOut {
    width: 37px;
    height: 25px;
    float: right;
    background: white;
    cursor: pointer;
    border: 1px solid #ffffff;
    @include for-all-browsers("border-radius", "0 100px 100px 0");
    @include for-all-browsers("box-shadow", "0px 2px 2px 0px #{rgba(50, 50, 50, 0.4)}");

    &:hover::after {
      color: #E1002D;
    }

    &::after,
    &:hover::after,
    &:focus::after {
      display: block;
      position: absolute;
      top: 3px;
      content: '\2212';
      right: 17px;
    }
    
  }
}