.gcApi_LayerSwitcherControl {

  position: absolute;
  z-index: 50;
  top: 25px;
  left: 20px;

  .gcApi_LayerSwitcherButtonClass {

    font-family: $defaultFont;
    font-size: 14px;
    font-weight: 300;

    .dijitButtonNode {

      width: 90px;
      height: 25px;

      border: 1px solid #ffffff;
      background: #ffffff;

      box-shadow: none !important;

      @include for-all-browsers("border-radius", "5px");

      .gcApi_LayerSwitcherIcon {
        @include sprite($icon-dropmenu-down);
      }

      .dijitButtonText {
        float: left;
        margin: 2px 0px 0px 15px
      }

    }

  }

  .gcApi_LayerSwitcherButtonClassHover {

    .dijitButtonNode {
      .gcApi_LayerSwitcherIcon {
        @include sprite($icon-dropmenu-down-hover);
      }
    }

    .dijitButtonText {
      color: #ff0000;
    }

  }

}

.gcApi_LayerSwitcherMenuPopup {

  font-family: $defaultFont;
  font-size: 14px;
  font-weight: 300;
  
  .gcApi_LayerSwitcherMenu {
    
    .gcApi_LayerSwitcherItem {
      
      height: 25px;
      
      .dijitMenuItemLabel {
        padding-left: 15px;
      }
    }
  }

  .gcApi_LayerSwitcherItemHover {
    
    .dijitMenuItemLabel {
      background: #ffffff;
    }
    
  }
  
  .dijitMenuItemSelected {
    background: #ffffff;
    color: #ff0000;
  }
  
}