.dijitTooltip {


  .dijitTooltipContainer {
    border: 1px #000000;
    @include for-all-browsers("border-radius", "5px");
    background: #000000;
    color: #ffffff;
    font-family: $defaultFont;
    font-size: 10px;
    font-weight: 500;
    padding: 5px;
  }
  
} 