.gcApi_JamsControl {

  position: absolute;
  top: 25px;
  left: 310px;
  z-index: 50;

  .dijitButtonNode {

    width: 40px;
    height: 25px;

    @include for-all-browsers("border-radius", "100px 100px 100px 100px");

    .dijitButtonContents {
      
      @include sprite($icon-jams-normal);
    
    }
    
  }
  
}

.gcApi_JamsControlHover {

  .dijitButtonNode {

    .dijitButtonContents {
      @include sprite($icon-jams-hover);
    }
    
  }

}

.gcApi_JamsControlChecked {

  .dijitButtonNode {

    border: 1px solid #000000;
    background: #000000;
    
    .dijitButtonContents {
      @include sprite($icon-jams-active);
    }

  }

}

