.gcApi_LanguageSwitcherControl {

  position: absolute;
  top: 25px;
  left: 120px;

  font-family: $defaultFont;
  font-size: 14px;
  font-weight: 300;

  .dijitButtonNode {

    width: 90px;
    height: 25px;

    border: none;
    background:rgba(255,255,255, 0.7);

    box-shadow: none !important;

    @include for-all-browsers("border-radius", "5px");

  }

}

.gcApi_LanguageSwitcherControlHover {

  .dijitButtonNode {
    color: #ff0000;
  }

}